.side {
  display: flex;
}

.side h3 {
  margin: inherit;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
  margin-bottom: 0.8rem;
}

.side h4 {
  margin: inherit;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}
