.side {
    display: flex;
}

.activities {
    display: flex;
    margin-bottom: 2rem;
}

.activities h3, h5 {
    margin: inherit;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
}

.side h3 {
    margin: inherit;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
    margin-bottom: 0.8rem;
}

.side h4 {
    margin: inherit;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
}